@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Sura:wght@400;700&display=swap");
.sidebar 
{
    list-style: none;
    background-color: #243444;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*hides nav behind content */
    z-index: 0;
    /*get rid of color gap on top of menu*/
    margin-top: 0;
    font-family: montserrat;
    font-style: normal;
    font-weight: 400;
    background-image: -webkit-linear-gradient(270deg,rgba(16,0,42,0.49) 0%,rgba(145,2,154,0.36) 46.63%,rgba(255,0,0,0.23) 100%), url(images/test%20images/IMG_1428-Copy.jpg);
    background-image: -moz-linear-gradient(270deg,rgba(16,0,42,0.49) 0%,rgba(145,2,154,0.36) 46.63%,rgba(255,0,0,0.23) 100%), url(images/test%20images/IMG_1428-Copy.jpg);
    background-image: -o-linear-gradient(270deg,rgba(16,0,42,0.49) 0%,rgba(145,2,154,0.36) 46.63%,rgba(255,0,0,0.23) 100%), url(images/test%20images/IMG_1428-Copy.jpg);
    background-image: linear-gradient(180deg,rgba(16,0,42,0.49) 0%,rgba(145,2,154,0.36) 46.63%,rgba(255,0,0,0.23) 100%), url(images/test%20images/IMG_1428-Copy.jpg);
}
a 
{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-decoration:none;
	color: #ffffff; /*white*/
	transition: 0.5s;
	text-transform: uppercase;
	cursor: pointer;
}
.dropdown-btn
{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  	text-decoration: none;
	margin-top: 65px;
	padding: 5px;
	font-size: 18px;
  	color: #ffffff;
  	display: block;
  	border: none;
  	background: none;
  	width:100%;
  	text-align: left;
  	cursor: pointer;
	outline: none;
	text-transform: uppercase;
	transition: 0.5s;
}

.dropdown-container 
{
	display: none;
	padding-left: 8px;
	font-size: 14px;
	
}

.vertical
{
	list-style: square;
	color: white;
}

.fa-caret-down {
	float: left;
	padding-right: 0px;	
  } 

.dropdown-btn:hover
{
	color: #868686;
}


.sidebar a:hover 
{
	color: #868686;
}

li.nav-item 
{
	margin-top: 65px;
	padding: 5px;
	font-size: 18px;
}





		 /*--------end of navigation styling--------*/
  

/*hide the checkbox*/
.nav-trigger 
{
	position: absolute;
	clip: rect(0, 0, 0, 0);
}
  
  label[for="nav-trigger"] 
  {
	/*nav stays in the same spot as user scrolls*/
	position: fixed; 
	/*position hamburger menu*/
	top: 15px;
	left: 15px;
	/*z-index needs to be 1 higher than site-wrap*/
	z-index: 2;
	width: 30px;
	height: 30px;
	/*changing to pointer indicates interactivity*/
	cursor: pointer;
	color: #111111;
  }
  
  /*styling to create "hamburger" icon (refer to notes)*/
  .hidden_nav:before 
  {
	  content: "";
	  position: absolute;
	  top: 1em;
	  width: 2em;
	  height: .25em;
	  border-top: .75em double rgb(255, 255, 255);
	  border-bottom: 0.25em solid rgb(255, 255, 255);
	  z-index: 3;
  }
  
  /*the following lines make the effect work*/
  /*below styling controls label position when menu opens- add 15px, because we did left:15px in label[for="nav-trigger"]*/
  /*uses adjacent sibling selector (+) nav-trigger:checked must come first so label moves after checkbox is activated*/
  .nav-trigger:checked + label 
  {
	left: 200px;
  }
  
  /*ensures that the site-wrap is pushed to the right*/
  /*uses general sibling selector (~) to target site wrap after nav-trigger gets activated*/
  .nav-trigger:checked ~ .site-wrap {
	left: 180px;
  }
  
  /*add slight transition to effect*/
  
  .nav-trigger + label, .site-wrap {
	transition: left 0.2s;
  }





.site-wrap 
{
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;
    min-width: 960px;
    background-image: -webkit-linear-gradient(270deg,rgba(58,75,92,0.44) 0%,rgba(16,0,42,0.56) 0%,rgba(145,2,154,0.37) 49.43%,rgba(255,0,0,0.30) 100%), url(images/test%20images/Black-wood-photoshop-pattern-for-website-background.jpg);
    background-image: -moz-linear-gradient(270deg,rgba(58,75,92,0.44) 0%,rgba(16,0,42,0.56) 0%,rgba(145,2,154,0.37) 49.43%,rgba(255,0,0,0.30) 100%), url(images/test%20images/Black-wood-photoshop-pattern-for-website-background.jpg);
    background-image: -o-linear-gradient(270deg,rgba(58,75,92,0.44) 0%,rgba(16,0,42,0.56) 0%,rgba(145,2,154,0.37) 49.43%,rgba(255,0,0,0.30) 100%), url(images/test%20images/Black-wood-photoshop-pattern-for-website-background.jpg);
    background-image: linear-gradient(180deg,rgba(58,75,92,0.44) 0%,rgba(16,0,42,0.56) 0%,rgba(145,2,154,0.37) 49.43%,rgba(255,0,0,0.30) 100%), url(images/test%20images/Black-wood-photoshop-pattern-for-website-background.jpg);
    top: 0;
    bottom: 100%;
    left: 0;
    z-index: 1;
    padding-left: 0em; /*spaces out content from hamburger*/
    left: 0;
    position: relative;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -o-transform-origin: top left;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;


} 





* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  background-color: #243444;
  margin-left: -10.5%;
  margin-right: -10.5%;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 5s;
  animation-name: fade;
  animation-duration: 5s;
  transition: 0.3s ease-in;
}

@-webkit-keyframes fade 
{
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


.game {
    color: hsla(0,0%,100%,1.00);
}
.display {
    background-color: hsla(0,0%,0%,0.57);
}

.embeddedgames
{
    text-align: center;
    color: orange;
}
.orange {
    color: hsla(43,100%,50%,1.00);
    margin-left: 40px;
}

/*
	NAV BAR STARTS HERE
*/
.nav
{
	margin: 25px auto auto auto;
	position: relative;
	width: 700px; 
	height: 50px;
	background-image:  linear-gradient(#3e5770 75%, #2f5172 100%);
	border-radius: 0px;
	font-size: 0px;

}

  /* NAV BAR LINKS*/
.nav a 
{
    line-height: 50px;
    height: 100%;
    font-size: 18px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
    font-family: montserrat;
    font-style: normal;
    font-weight: 400;
}



.nav .animation 
{
	position: absolute;
	height: 10%;
	bottom: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 3px;
}



a:nth-child(1) 
{
	width: 100px;
}
nav  .start-home, a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	background-color: rgb(252, 89, 84);
	}

a:nth-child(2) 
{
	width: 110px;
}
nav .start-games, a:nth-child(2):hover~.animation {
	width: 110px;
	left: 100px;
	background-color: rgb(84, 241, 252);;
	}
	
a:nth-child(3) 
{
	width: 100px;
}
nav .start-health, a:nth-child(3):hover~.animation 
{
	width: 100px;
	left: 210px;
	background-color: rgb(255, 199, 96);
}

a:nth-child(4) 
{
	width: 140px;
}
nav .start-aboutus, a:nth-child(4):hover~.animation 
{
width: 140px;
left: 311px;
background-color: rgb(246, 255, 124);
}

a:nth-child(5) 
{
	width: 140px;
}
nav .start-contact, a:nth-child(5):hover~.animation 
{
width: 120px;
left: 460px;
background-color: rgb(255, 62, 255);
}

a:nth-child(6) 
{
	width: 100px;
}
nav .start-sitemap, a:nth-child(6):hover~.animation 
{
width: 100px;
left: 600px;
background-color: rgb(62, 255, 62);
}

.nav a.active 
{
    border-radius: 0px;
    background-color: rgba(60, 180, 154, 0.5);
    font-family: montserrat;
    font-style: normal;
    font-weight: 400;
	
}

.logo 
{
    text-align: center;
    color: #ecf0f1;
    font-size: 50px;
    font-family: Montserrat;
    text-decoration: none;
    font-weight: lighter;
	
}

.orange
{
	margin-left: 10%;
	margin-right: 10%;
	border-color:orange;
}
footer
{
    margin-left: 15%;
    margin-right: 15%;
    background-color: #243444;
    z-index: 10;
}
h3
{
    color: orange;
	font-family: Montserrat;
	font-style: italic;
	margin-top: 25px;
	margin-bottom: 0px;

}
.motto {
    font-family: montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: small;
}
.navtext {
    font-family: montserrat;
    font-style: normal;
    font-weight: 400;
}
.navi {
    width: 592px;
}
