@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

.nav
{
    margin: 25px auto auto auto;
    position: relative;
    width: 592px;
    height: 50px;
    background-image: linear-gradient(#3e5770 75%, #2f5172 100%);
    border-radius: 0px;
    font-size: 0px;
    font-family: montserrat;
    font-style: normal;


}

  /* NAV BAR LINKS*/
.nav a 
{
    line-height: 50px;
    height: 100%;
    font-size: 18px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
    font-family: montserrat;
    font-style: normal;
    font-weight: 400;
}



.nav .animation 
{
	position: absolute;
	height: 10%;
	bottom: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 3px;
}



a:nth-child(1) 
{
	width: 100px;
}
nav  .start-home, a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	background-color: rgb(252, 89, 84);
	}

a:nth-child(2) 
{
	width: 110px;
}
nav .start-games, a:nth-child(2):hover~.animation {
	width: 110px;
	left: 100px;
	background-color: rgb(84, 241, 252);;
	}
	
a:nth-child(3) 
{
	width: 100px;
}
nav .start-health, a:nth-child(3):hover~.animation 
{
	width: 100px;
	left: 210px;
	background-color: rgb(255, 199, 96);
}

a:nth-child(4) 
{
	width: 140px;
}
nav .start-aboutus, a:nth-child(4):hover~.animation 
{
width: 140px;
left: 311px;
background-color: rgb(246, 255, 124);
}

a:nth-child(5) 
{
	width: 140px;
}
nav .start-contact, a:nth-child(5):hover~.animation 
{
width: 120px;
left: 460px;
background-color: rgb(255, 62, 255);
}

a:nth-child(6) 
{
	width: 100px;
}
nav .start-sitemap, a:nth-child(6):hover~.animation 
{
width: 100px;
left: 700px;
background-color: rgb(62, 255, 62);
}

.nav a.active 
{
    border-radius: 0px;
    background-color: rgba(60, 180, 154, 0.5);
   
	
}

.orange
{
    margin-left: 15%;
    margin-right: 15%;
    border-color: orange;
    font-family: montserrat;
    font-style: normal;
    font-weight: 400;
    color: hsla(24,100%,50%,1.00);
}

/*

	NAV BAR ENDS HERE

*/

  .site-wrap 
  {
    margin-left: auto;
    margin-right: auto;
    
    background-image: -webkit-linear-gradient(270deg,rgba(182,22,204,1.00) 0%,rgba(16,0,42,0.49) 0%,rgba(145,2,154,0.36) 46.61%,rgba(255,0,0,0.23) 100%,rgba(107,82,131,1.00) 100%,rgba(44,62,80,1.00) 100%), url(images/test%20images/wallpaper_800x600_935.jpg);
    background-image: -moz-linear-gradient(270deg,rgba(182,22,204,1.00) 0%,rgba(16,0,42,0.49) 0%,rgba(145,2,154,0.36) 46.61%,rgba(255,0,0,0.23) 100%,rgba(107,82,131,1.00) 100%,rgba(44,62,80,1.00) 100%), url(images/test%20images/wallpaper_800x600_935.jpg);
    background-image: -o-linear-gradient(270deg,rgba(182,22,204,1.00) 0%,rgba(16,0,42,0.49) 0%,rgba(145,2,154,0.36) 46.61%,rgba(255,0,0,0.23) 100%,rgba(107,82,131,1.00) 100%,rgba(44,62,80,1.00) 100%), url(images/test%20images/wallpaper_800x600_935.jpg);
    background-image: linear-gradient(180deg,rgba(182,22,204,1.00) 0%,rgba(16,0,42,0.49) 0%,rgba(145,2,154,0.36) 46.61%,rgba(255,0,0,0.23) 100%,rgba(107,82,131,1.00) 100%,rgba(44,62,80,1.00) 100%), url(images/test%20images/wallpaper_800x600_935.jpg);
    top: 0;
    bottom: 100%;
    left: 0;
    z-index: 0;
    padding-left: 0em; /*spaces out content from hamburger*/
    left: 0;
    position: relative;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -o-transform-origin: top left;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;


} 





body 
{
  overflow-x: hidden;
  background-image: linear-gradient(180deg,rgba(182,22,204,1.00) 0%,rgba(16,0,42,0.49) 0%,rgba(145,2,154,0.36) 46.61%,rgba(255,0,0,0.23) 100%,rgba(107,82,131,1.00) 100%,rgba(44,62,80,1.00) 100%), url(images/test%20images/wallpaper_800x600_935.jpg);
}
.logo 
{
    text-align: center;
    color: #FFFFFF;
    font-size: 50px;
    font-family: Montserrat;
    font-weight: lighter;
    text-decoration: none;
	
}
.motto {
  font-family: montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: small;
  text-decoration: none;
}

h1
{
	text-underline-position: below;
	color: #49dbff;
	font-family: Montserrat;
	margin-top: 25px;
	margin-bottom: 0px;
}

h3
{
	
	color: orange;
	font-family: Montserrat;
	font-style: italic;
	margin-top: 25px;
	margin-bottom: 0px;
	font-size: 20px;
}
h4
{
	
	font-size: 30px;
	color: orange;
	font-family: Sura;
	text-align: justify;
	margin-left:  18%;
}

.footer {
  color: hsla(35,100%,50%,1.00);
  font-family: montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: small;
}


.map
{
  font-family: Montserrat;
  font-size: 20px;
  text-align: justify;
  margin: 0 auto;
  margin-top: 2%;
  margin-left: 15%;
  margin-right: 60%;
  background-color: rgba(116, 116, 255, 0.08);
  border-radius: 5px;
}

.title
{
  font-weight: bold;
  color: rgb(255, 0, 0);
  margin: 0 auto;
  margin-left: 5px;
  margin-right: 65%;
  cursor: default;
}
.subtitle
{
  margin-left: 20%;
  color: red;
  font-weight: bold;
  cursor: default;
}
.minor
{
  font-weight: bold;
  color: orange;
}
ul, li {
  margin: 0;
  padding: 0;
}
.sitemap > li > ul {
  margin-top: 1.5rem;
}
ul {
  list-style: none;
}
ul li {
  line-height: 3rem;
  margin: 0 auto;
  vertical-align: top;
  position: relative;
}
ul li a {
  text-decoration: none;
  color: white;
  display: inline-block;
  transition: 0.3s;
}
ul li a:hover
{
  color: lime
}
ul ul {
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
}
ul ul li {
  position: relative;
}
ul ul li::before {
  content: "";
  display: inline-block;
  width: 3rem;
  height: 100%;
  border-left: 1px #ccc solid;
  position: absolute;
  top: -0.75rem;
}
ul ul li::before {
  content: "";
  display: inline-block;
  width: 3rem;
  height: 3rem;
  border-bottom: 1px #ccc solid;
  position: absolute;
  top: -0.75rem;
}
ul ul li a {
  margin-left: 3.75rem;
}
